# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log